@model Car
@inject IRepository<CarBrand> Brands

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Car</h1>
                <span>add new car from here</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="text-center m-5">Vehicle Information</h4>
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"
                        asp-items=@(new SelectList(Enum.GetNames(typeof(CarType))))></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control"
                        asp-items=@(new SelectList(await Brands.GetAsync(), "Id", "Name"))></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"
                        asp-items=@(new SelectList(Enum.GetNames(typeof(CarStatus))))></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FuelType" class="control-label"></label>
                <select asp-for="FuelType" class="form-control"
                        asp-items=@(new SelectList(Enum.GetNames(typeof(FuelType))))></select>
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Gearbox" class="control-label"></label>
                <select asp-for="Gearbox" class="form-control"
                        asp-items=@(new SelectList(Enum.GetNames(typeof(Gearbox))))></select>
                <span asp-validation-for="Gearbox" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control" type="file" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="SeatCount" class="control-label"></label>
                <input asp-for="SeatCount" class="form-control" />
                <span asp-validation-for="SeatCount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="WeightTotal" class="control-label"></label>
                <input asp-for="WeightTotal" class="form-control" />
                <span asp-validation-for="WeightTotal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CarExtras" class="control-label"></label>
                <textarea asp-for="CarExtras" class="form-control"></textarea>
                <span asp-validation-for="CarExtras" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <div class="text-center">
                    <input id="showInHome" class="form-check-input" asp-for="ShowInHome" />
                    <label for="showInHome" class="form-check-label">@Html.DisplayNameFor(model => model.ShowInHome)</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>