<!-- Banner -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item 1 -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>lorem ipsum dolor sit amet!</h6>
                    <h4>Quam temporibus accusam <br> hic ducimus quia</h4>
                    <p>Magni deserunt dolorem consectetur adipisicing elit. Corporis molestiae optio, laudantium odio quod rerum maiores, omnis unde quae illo.</p>
                    <a asp-controller="cars" asp-action="index" class="filled-button">Cars</a>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>magni deserunt dolorem harum quas!</h6>
                    <h4>Aliquam iusto harum <br>  ratione porro odio</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa cupiditate mollitia adipisci assumenda laborum eius quae quo excepturi, eveniet. Dicta nulla ea beatae consequuntur?</p>
                    <a asp-controller="about" asp-action="index" class="filled-button">About Us</a>
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>alias officia qui quae vitae natus!</h6>
                    <h4>Lorem ipsum dolor <br>sit amet, consectetur.</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                    <a asp-controller="contact" asp-action="index" class="filled-button">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us -->
<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Request a call back right now ?</h4>
                <span>You can contact us by sending a callback request.</span>
            </div>
            <div class="col-md-4">
                <a asp-controller="contact" asp-action="index" class="border-button">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Featured Cars -->
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Featured <em>Cars</em></h2>
                    <span>The latest cars that we have added recently!</span>
                </div>
            </div>
            @await Component.InvokeAsync("GetCars", new
            {
                filter = new CarFilter
                {
                    ApplyPagination = false,
                    ShowInHome = true,
                    Shuffle = true
                }
            })
        </div>
    </div>
</div>
<!-- About Us -->
<div class="fun-facts">
    <div class="container">
        <div class="more-info-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-image">
                        <img src="~/assets/images/about-1-570x350.jpg" class="img-fluid" alt="Image load error!">
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="right-content">
                        <span>Who we are</span>
                        <h2>Get to know about <em>our company</em></h2>
                        <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus</p>
                        <a asp-controller="about" asp-action="index" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Callback -->
@await Html.PartialAsync("_callback")