@model ContactViewModel

<div class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>Please feel free to send a callback request</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" asp-controller="contact" asp-action="index" method="post">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="FullName" type="text" class="form-control" id="name" placeholder="Full Name" required>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Email" type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="E-Mail Address" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Subject" type="text" class="form-control" id="subject" placeholder="Subject" required>
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea asp-for="Message" rows="6" class="form-control" id="message" placeholder="Your Message" required></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>