<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-item text-center">
                <h4>Asia Car Office</h4>
                <p>Asia Company for the sale<br>and rental of cars of all kinds.</p>
                <ul class="social-icons">
                    <li><a rel="nofollow" href="https://www.facebook.com/profile.php?id=100021578800007" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/AhmetBa24416954" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/ahmetbakirci30/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ahmet-bak%C4%B1rc%C4%B1-a90210202/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://wa.me/905383754105" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 footer-item text-center">
                <h4>Useful Links</h4>
                <ul class="menu-list">
                    <li><a asp-controller="cars" asp-action="index">Search car</a></li>
                    <li><a asp-controller="about" asp-action="index">Who are we?</a></li>
                    <li><a asp-controller="contact" asp-action="index">Contact us now!</a></li>
                    <li><a asp-controller="home" asp-action="privacy">Our Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2023 Asia Car Office</p>
            </div>
        </div>
    </div>
</div>